Repository ayoussef-insight/self-hosted-agents: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/build.yml, .azuredevops/pipelines/release.yml

Path conditions:
  .azuredevops/pipelines/build.yml: any of: ado-agent-linux, infrastructure/acr
  .azuredevops/pipelines/release.yml: any of: infrastructure/aci

Feature/support arm (#13)
  .azuredevops/pipelines/vars/env.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  ado-agent-linux/Dockerfile
  ado-agent-linux/docker-compose-arm64.yml
  github-runner-linux/Dockerfile
  github-runner-linux/docker-compose-arm64.yml
  github-runner-linux/docker-compose.yml
Due: .azuredevops/pipelines/build.yml

Added ado agent on windows container
  ado-agent-win/.dockerignore
  ado-agent-win/.env
  ado-agent-win/Dockerfile
  ado-agent-win/README.md
  ado-agent-win/docker-compose.yml
  ado-agent-win/start.ps1
Due: none

Update azure pipelines to deploy both linux and windows containers
  .azuredevops/pipelines/build.yml
  .azuredevops/pipelines/release.yml
  .azuredevops/pipelines/vars/env.yml
  .github/actions/acr-credentials/action.yml
  .github/actions/deploy-acr/action.yml
  .github/actions/github-runner-build/action.yml
  .github/actions/github-runner-deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  README.md
  ado-agent-linux/docker-compose-arm64.yml
  ado-agent-linux/docker-compose.yml
  ado-agent-win/.env
  ado-agent-win/start.ps1
  github-runner-linux/docker-compose-arm64.yml
  github-runner-linux/docker-compose.yml
  github-runner-win/.dockerignore
  github-runner-win/.env
  github-runner-win/Dockerfile
  github-runner-win/README.md
  github-runner-win/docker-compose.yml
  github-runner-win/start.ps1
  infrastructure/aci/main.bicep
Due: .azuredevops/pipelines/build.yml, .azuredevops/pipelines/release.yml

Update docs
  README.md
Due: none

Fix Azure pipeline deployment names
  .azuredevops/pipelines/build.yml
  .azuredevops/pipelines/release.yml
Due: none

Feature/win container (#14)
  .azuredevops/pipelines/build.yml
  .azuredevops/pipelines/release.yml
  .azuredevops/pipelines/vars/env.yml
  .github/actions/acr-credentials/action.yml
  .github/actions/deploy-acr/action.yml
  .github/actions/github-runner-build/action.yml
  .github/actions/github-runner-deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  README.md
  ado-agent-linux/docker-compose.yml
  ado-agent-win/.dockerignore
  ado-agent-win/.env
  ado-agent-win/Dockerfile
  ado-agent-win/README.md
  ado-agent-win/docker-compose.yml
  ado-agent-win/start.ps1
  github-runner-linux/docker-compose-arm64.yml
  github-runner-linux/docker-compose.yml
  github-runner-win/.dockerignore
  github-runner-win/.env
  github-runner-win/Dockerfile
  github-runner-win/README.md
  github-runner-win/docker-compose.yml
  github-runner-win/start.ps1
  infrastructure/aci/main.bicep
Due: .azuredevops/pipelines/build.yml, .azuredevops/pipelines/release.yml

Restructure repo
  .azuredevops/pipelines/build.yml
  .azuredevops/pipelines/release.yml
  .azuredevops/pipelines/vars/env.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  README.md
  src/images/ado-agent-linux/.dockerignore
  src/images/ado-agent-linux/.env
  src/images/ado-agent-linux/Dockerfile
  src/images/ado-agent-linux/README.md
  src/images/ado-agent-linux/docker-compose-arm64.yml
  src/images/ado-agent-linux/docker-compose.yml
  src/images/ado-agent-linux/start.sh
  src/images/ado-agent-win/.dockerignore
  src/images/ado-agent-win/.env
  src/images/ado-agent-win/Dockerfile
  src/images/ado-agent-win/README.md
  src/images/ado-agent-win/docker-compose.yml
  src/images/ado-agent-win/start.ps1
  src/images/github-runner-linux/.dockerignore
  src/images/github-runner-linux/.env
  src/images/github-runner-linux/Dockerfile
  src/images/github-runner-linux/README.md
  src/images/github-runner-linux/docker-compose-arm64.yml
  src/images/github-runner-linux/docker-compose.yml
  src/images/github-runner-linux/start.sh
  src/images/github-runner-win/.dockerignore
  src/images/github-runner-win/.env
  src/images/github-runner-win/Dockerfile
  src/images/github-runner-win/README.md
  src/images/github-runner-win/docker-compose.yml
  src/images/github-runner-win/start.ps1
  src/infrastructure/aci/.test/main.test.bicep
  src/infrastructure/aci/main.bicep
  src/infrastructure/aci/main.parameters.json
  src/infrastructure/acr/.test/acr-suppress.Rule.yaml
  src/infrastructure/acr/.test/main.test.bicep
  src/infrastructure/acr/main.bicep
  src/infrastructure/acr/main.parameters.json
Due: none

Restructure repo (#15)
  .azuredevops/pipelines/build.yml
  .azuredevops/pipelines/release.yml
  .azuredevops/pipelines/vars/env.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  README.md
  src/images/ado-agent-linux/.dockerignore
  src/images/ado-agent-linux/.env
  src/images/ado-agent-linux/Dockerfile
  src/images/ado-agent-linux/README.md
  src/images/ado-agent-linux/docker-compose-arm64.yml
  src/images/ado-agent-linux/docker-compose.yml
  src/images/ado-agent-linux/start.sh
  src/images/ado-agent-win/.dockerignore
  src/images/ado-agent-win/.env
  src/images/ado-agent-win/Dockerfile
  src/images/ado-agent-win/README.md
  src/images/ado-agent-win/docker-compose.yml
  src/images/ado-agent-win/start.ps1
  src/images/github-runner-linux/.dockerignore
  src/images/github-runner-linux/.env
  src/images/github-runner-linux/Dockerfile
  src/images/github-runner-linux/README.md
  src/images/github-runner-linux/docker-compose-arm64.yml
  src/images/github-runner-linux/docker-compose.yml
  src/images/github-runner-linux/start.sh
  src/images/github-runner-win/.dockerignore
  src/images/github-runner-win/.env
  src/images/github-runner-win/Dockerfile
  src/images/github-runner-win/README.md
  src/images/github-runner-win/docker-compose.yml
  src/images/github-runner-win/start.ps1
  src/infrastructure/aci/.test/main.test.bicep
  src/infrastructure/aci/main.bicep
  src/infrastructure/aci/main.parameters.json
  src/infrastructure/acr/.test/acr-suppress.Rule.yaml
  src/infrastructure/acr/.test/main.test.bicep
  src/infrastructure/acr/main.bicep
  src/infrastructure/acr/main.parameters.json
Due: none

Set hostname or computername if NAME is not provided
  src/images/ado-agent-linux/.env
  src/images/ado-agent-linux/README.md
  src/images/ado-agent-linux/start.sh
  src/images/ado-agent-win/.env
  src/images/ado-agent-win/Dockerfile
  src/images/ado-agent-win/start.ps1
  src/images/github-runner-linux/.env
  src/images/github-runner-linux/start.sh
  src/images/github-runner-win/.env
  src/images/github-runner-win/Dockerfile
  src/images/github-runner-win/start.ps1
  src/infrastructure/acr/main.bicep
Due: none

Upgrade ado agent and github runner
  src/images/ado-agent-linux/docker-compose-arm64.yml
  src/images/ado-agent-linux/docker-compose.yml
  src/images/ado-agent-win/docker-compose.yml
  src/images/github-runner-linux/docker-compose-arm64.yml
  src/images/github-runner-linux/docker-compose.yml
  src/images/github-runner-win/docker-compose.yml
Due: none
